Source: feeder
Section: web
Priority: optional
Maintainer: Jonas Kalderstam <jonas@cowboyprogrammer.org>
Build-Depends: debhelper (>= 9), dh-python, python3
Standards-Version: 3.9.8
Homepage: https://github.com/spacecowboy/feeder
Vcs-Git: https://github.com/spacecowboy/feeder.git
Vcs-Browser: https://github.com/spacecowboy/feeder

Package: feeder
Architecture: all
Depends: ${python3:Depends}
Description: An RSS/Atom caching server
 feeder is an RSS/Atom caching server.