[Unit]
Description=Web server for RSS feed cache
After=network.target

[Service]
ExecStart=/usr/bin/feeder server
Restart=on-failure
User=feeder
PrivateTmp=true
ProtectSystem=yes

[Install]
WantedBy=multi-user.target
