<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.nononsenseapps.feeder"
  android:installLocation="internalOnly">
  <!-- Import export feeds -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- For syncing -->
  <uses-permission android:name="android.permission.INTERNET" /> <!-- To limit syncing to only WiFi -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name=".FeederApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppThemeDay"
    android:usesCleartextTraffic="true">

    <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

    <activity
      android:name=".ui.FeedActivity"
      android:label="@string/app_name">

      <nav-graph android:value="@navigation/nav_graph" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity>

    <activity
      android:name=".ui.EditFeedActivity"
      android:label="@string/title_activity_edit_feed"
      android:parentActivityName=".ui.FeedActivity"
      android:theme="@style/EditFeedThemeDay"
      android:windowSoftInputMode="adjustResize|stateVisible">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.nononsenseapps.feeder.ui.FeedActivity" />

      <!-- URLs with feed mimetype can be opened -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />

        <data android:host="*" />

        <data android:mimeType="text/xml" />
        <data android:mimeType="application/rss+xml" />
        <data android:mimeType="application/atom+xml" />
        <data android:mimeType="application/xml" />
        <data android:mimeType="application/json" />
      </intent-filter>
      <!-- URLs ending with '.xml' or '.rss' can be opened directly-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.xml" />
        <data android:pathPattern=".*\\.rss" />
        <data android:pathPattern=".*\\.atom" />
        <data android:pathPattern=".*\\.json" />
      </intent-filter>
      <!-- FeedBurner URLs can be opened directly-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="feeds.feedburner.com" />
        <data android:host="feedproxy.google.com" />
        <data android:host="feeds2.feedburner.com" />
        <data android:host="feedsproxy.google.com" />
      </intent-filter>
      <!-- Any other URL can be shared with the app -->
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" />
      </intent-filter>
      <!-- Also possible to share pure text -->
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <!-- Receiver for notification cancellations and such -->
    <receiver android:name=".model.RssNotificationBroadcastReceiver" />

    <activity
      android:name=".ui.OpenLinkInDefaultActivity"
      android:label="@string/open_link_in_browser"
      android:launchMode="singleInstance"
      android:taskAffinity="${applicationId}.OpenLinkTask" />

    <service
      android:name=".model.FeederService"
      android:exported="true" />
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT" />
      <data android:mimeType="text/plain" />
    </intent>
  </queries>
</manifest>
