<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.nononsenseapps.feeder"
  android:installLocation="internalOnly">
  <!-- Import export feeds -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- For syncing -->
  <uses-permission android:name="android.permission.INTERNET" /> <!-- To limit syncing to only WiFi -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <permission
    android:name="com.nononsenseapps.feeder.permission.read"
    android:description="@string/permission_read_desc"
    android:label="@string/permission_read_label"
    android:protectionLevel="normal"
    android:permissionGroup="android.permission-group.SOCIAL_INFO" />

  <queries>
    <!-- So a barcode scanner can be invoked -->
    <package android:name="com.google.zxing.client.android" />
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
    <!--    TODO implement custom text selection actions -->
    <!--    <intent>-->
    <!--      <action android:name="android.intent.action.PROCESS_TEXT" />-->
    <!--      <data android:mimeType="text/plain" />-->
    <!--    </intent>-->
  </queries>

  <application
    android:name=".FeederApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppThemeDayNoActionBar"
    android:usesCleartextTraffic="true">

    <meta-data
      android:name="android.webkit.WebView.MetricsOptOut"
      android:value="true" />

    <activity
      android:name="com.nononsenseapps.feeder.ui.MainActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- This filter MUST look like this for Android to automatically open these links -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="feederapp.nononsenseapps.com" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity>

    <activity
      android:name=".ui.ManageSettingsActivity"
      android:exported="true"
      android:parentActivityName=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.AddFeedFromShareActivity"
      android:exported="true"
      android:parentActivityName=".ui.MainActivity">
      <!-- URLs with feed mimetype can be opened -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />

        <data android:host="*" />

        <data android:mimeType="text/xml" />
        <data android:mimeType="application/rss+xml" />
        <data android:mimeType="application/atom+xml" />
        <data android:mimeType="application/xml" />
        <data android:mimeType="application/json" />
      </intent-filter>
      <!-- URLs ending with '.xml' or '.rss' can be opened directly-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.xml" />
        <data android:pathPattern=".*\\.rss" />
        <data android:pathPattern=".*\\.atom" />
        <data android:pathPattern=".*\\.json" />
      </intent-filter>
      <!-- FeedBurner URLs can be opened directly-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="feeds.feedburner.com" />
        <data android:host="feedproxy.google.com" />
        <data android:host="feeds2.feedburner.com" />
        <data android:host="feedsproxy.google.com" />
      </intent-filter>
      <!-- Any other URL can be shared with the app -->
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="*" />
      </intent-filter>
      <!-- Also possible to share pure text -->
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <!-- Receiver for notification cancellations and such -->
    <receiver android:name=".model.RssNotificationBroadcastReceiver" />

    <activity
      android:name=".ui.OpenLinkInDefaultActivity"
      android:exported="true"
      android:label="@string/open_link_in_browser"
      android:launchMode="singleInstance"
      android:taskAffinity="${applicationId}.OpenLinkTask" />

    <service
      android:name=".model.FeederService"
      android:exported="true" />

    <provider
      android:name=".contentprovider.RSSContentProvider"
      android:authorities="com.nononsenseapps.feeder.rssprovider"
      android:exported="true"
      android:readPermission="com.nononsenseapps feeder.permission.read" />
  </application>
</manifest>
